:root {
  --yellow-color: rgb(246, 218, 101);
}

.card-wrap {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 8px 0;
  width: 360px;
  height: 120px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4), 0 2px 4px rgba(0, 0, 0, 0.22);
}

.card-wrap:hover {
  background-color: lightgray;
  cursor: pointer;
}

.card-top {
  display: flex;
  align-items: center;
  height: 34%;
}

.card-num {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-num p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow-color);
  color: black;
  border-radius: 6px;
  width: 20px;
  height: 20px;
}

.card-title {
  position: relative;
  width: 90%;
  padding-left: 10px;
}

.close-button {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 1px;
}

.close-button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.card-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 33%;
}

.card-date,
.card-place,
.card-button {
  padding-left: 12%;
}

.card-date {
  margin-top: 6px;
}

.card-date p {
  line-height: 1.2;
}

.date-text {
  white-space: pre-line;
}

.card-place p {
  margin-top: 6px;
  color: gray;
}

.card-bottom {
  position: relative;
}

.card-person {
  position: absolute;
  top: 18px;
  right: 8px;
}

.card-person p {
  font-size: 14px;
}
