.header {
  background-color: white;
  width: 100%;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 14px;
  height: 60px;
}

.logo-box .logo {
  text-decoration: none;
}

.logo p {
  text-decoration: none;
  font-size: 16px;
  color: black;
}

.navbar {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
  z-index: 1;
}

.navbar.active {
  max-height: 300px;
}

.nav {
  list-style: none;
  padding: 10px 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav li {
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

.nav li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.toggle-btn img {
  width: 30px;
  height: 30px;
}

.user-display {
  color: blue;
  cursor: pointer;
}
