.room-wrap {
  display: flex;
  flex-direction: column;
}

.room-top,
.room-bottom {
  display: flex;
  margin: 0 auto;
}

.room-info {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 200px;
  height: 210px;
  margin: 6px;
}

.room-info:hover {
  background-color: lightgray;
}

.room-info a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  text-align: center;
}

.room-info img {
  width: 160px;
  height: 160px;
  border-radius: 4px;
}
